# Constellations From CELESTRACK site

In [1]:
from satCatalog import request_by_name, request_celestrak_data

constellation = request_by_name("NUSAT")

In [2]:
import pandas as pd
df_nusat = pd.DataFrame(constellation)
print(df_nusat[['OBJECT_NAME', 'NORAD_CAT_ID']].head())

                 OBJECT_NAME  NORAD_CAT_ID
0                   SNUSAT-2         43782
1    NUSAT-26 (M SOMERVILLE)         52184
2       NUSAT-28 (ALICE LEE)         52747
3    NUSAT-31 (RUBY PAYNE-S)         52752
4  NUSAT-34 (AMELIA EARHART)         55045

In [15]:
df_nusat.columns

Index(['OBJECT_NAME', 'OBJECT_ID', 'EPOCH', 'MEAN_MOTION', 'ECCENTRICITY',
       'INCLINATION', 'RA_OF_ASC_NODE', 'ARG_OF_PERICENTER', 'MEAN_ANOMALY',
       'EPHEMERIS_TYPE', 'CLASSIFICATION_TYPE', 'NORAD_CAT_ID',
       'ELEMENT_SET_NO', 'REV_AT_EPOCH', 'BSTAR', 'MEAN_MOTION_DOT',
       'MEAN_MOTION_DDOT'],
      dtype='object')

In [ ]:
df_nusat.info()

In [23]:
df_nusat.loc[df_nusat['NORAD_CAT_ID']==62640]

,OBJECT_NAME,OBJECT_ID,EPOCH,MEAN_MOTION,ECCENTRICITY,INCLINATION,RA_OF_ASC_NODE,ARG_OF_PERICENTER,MEAN_ANOMALY,EPHEMERIS_TYPE,CLASSIFICATION_TYPE,NORAD_CAT_ID,ELEMENT_SET_NO,REV_AT_EPOCH,BSTAR,MEAN_MOTION_DOT,MEAN_MOTION_DDOT
19,NUSAT-45 (UZMASAT-1),2025-009AH,2026-01-15T04:11:06.381024,15.254018,0.000308,97.4086,97.8586,125.0198,235.133,0,U,62640,999,5555,0.000236,0.000059,0.0

In [3]:
import pandas as pd
df = pd.DataFrame(constellation)

In [4]:
# 5. Crear la tabla final limpia
tabla_constellation = df[[
    'OBJECT_NAME', 
    'NORAD_CAT_ID', 
    'INCLINATION', 
    'ECCENTRICITY'
]].copy()

In [5]:
# Ordenar por altura para ver los más cercanos
print(tabla_constellation.sort_values(by='INCLINATION').head())

                OBJECT_NAME  NORAD_CAT_ID  INCLINATION  ECCENTRICITY
7      NUSAT-32 (ALBANIA-1)         55064      97.1900      0.000397
6     NUSAT-35 (WILLIAMINA)         55048      97.2115      0.001097
1   NUSAT-26 (M SOMERVILLE)         52184      97.2517      0.000758
10   NUSAT-37 (JOAN CLARKE)         56203      97.2815      0.001041
9   NUSAT-38 (MARIA AGNESI)         56202      97.3186      0.001250

# Constellation Environment manipulation

In [6]:
from constellation_env import *

>>> [SUCCESS] GMAT LOADED

In [7]:
# Tests
NUSAT = {
      "classification": "Earth Observation (Optical)",
      "name": "Aleph-1",
      "company": "Satellogic",
      "country_of_origin": "Uruguay / Argentina",
      "approx_satellites": 60,
      "altitude_km": 475,
      "inclination_deg": 97.0,
      "configuration": "Multiple SSO planes",
      "primary_launcher": "Falcon 9 (Transporter missions)",
      "primary_purpose": "High-resolution multispectral imagery"
    }

In [8]:
nusat_const = SatelliteConstellation.from_json(NUSAT)

In [10]:
nusat_const

SatelliteConstellation(name='Aleph-1', approx_satellites=60, classification='Earth Observation (Optical)', company='Satellogic', country_of_origin='Uruguay / Argentina', altitude_km=475, inclination_deg=97.0, configuration='Multiple SSO planes', primary_launcher='Falcon 9 (Transporter missions)', primary_purpose='High-resolution multispectral imagery', satellites=[])

In [2]:
# 1. Search by GROUP (Official CelesTrak categories)
iridium_list = request_celestrak_data("IRIDIUM", "GROUP")

In [2]:
nusat_list = request_celestrak_data("NUSAT", "NAME")

# SGP4 Propagation of one Sat of the Constellation

In [3]:
nusat45=nusat_list[-1]

In [4]:
from space_env import TLEHandler

>>> [SUCCESS] GMAT LOADED

In [5]:
handler = TLEHandler.from_json(nusat45)
coords = handler.to_geodetic()

In [6]:
print(f"Satellite: {handler.name}")
print(f"Latitude: {coords['lat']:.4f}°")
print(f"Longitude: {coords['lon']:.4f}°")
print(f"Altitude: {coords['alt']:.2f} km")

Satellite: NUSAT-45 (UZMASAT-1)
Latitude: 78.7563°
Longitude: -101.5790°
Altitude: 500.87 km